<div class="container">
  <form [formGroup]="this.pedidosService.form">
    <input placeholder="Numero Pedido"
           formControlName="numeroPedido"
           type="text"
           class="input-field col s12">
    <input placeholder="Nombre Cliente"
           formControlName="nombreCliente"
           type="text"
           class="input-field col s12">
    <button class="waves-effect waves-light btn col s4"
            *ngFor="let producto of productos"
            (click)="addProducto(producto)">
      {{producto}}
    </button>
    <ul class="collection">
      <li *ngFor="let producto of productoPedido">
        <span class="col s11"> {{ producto }} </span>
        <button class="col s1" (click)="removeProducto(producto)">x</button>
      </li>
    </ul>
    <button
      class="waves-effect waves-light btn col s12"
      (click)="Enviar()">
      Enviar
    </button>
  </form>
  <button
    class="waves-effect waves-light btn col s12"
    routerLink="/home">
    Volver
  </button>
</div>
